<a href="https://colab.research.google.com/github/karandoshi1810/Machine-Learning/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [ ]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names=['sepal length','sepal width','petal length','petal width','class']
dataset=pd.read_csv(url,names=names)

In [ ]:
dataset.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
dataset.shape
training=dataset.values[:,0:4]
training

In [ ]:
trainingclass=dataset.values[:,-1]
trainingclass

In [ ]:
def euclidean_distance(row1,row2):
  distance=0.0
  for i in range(len(row1)):
    distance+=(row1[i]-row2[i])**2
  return math.sqrt(distance)

In [ ]:
#To convert categorical values to numerical values
unique_list=[]
for x in trainingclass:
  if x not in unique_list:
    unique_list.append(x)
print(unique_list)
for i in range(len(trainingclass)):
  for k in range(len(unique_list)):
    if trainingclass[i]==unique_list[k]:
      trainingclass[i]=k
print(trainingclass)

[0, 1, 2]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [ ]:
distance=[]
for i in range(len(training)):
  distance.append([euclidean_distance(training[i],training[0]),trainingclass[i]])
distance.sort()
distance

In [ ]:
nearest_neighbor=7

In [ ]:
identify=[0 for i in range(len(unique_list))]
for i in range(nearest_neighbor):
  identify[distance[i][1]]=identify[distance[i][1]]+1
print(identify)

[7, 0, 0]

In [ ]:
print("The predicted class is:",unique_list[identify.index(max(identify))])

The predicted class is: 0